{%extends 'default.html'%}
{% load custom_filters %}

<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
{% block content %}
    <h1>Все новости в категории {{ category.category_name }}</h1>

{% if is_not_subscriber %}
<p class="text-center"><a href ="{% url 'subscribe' category.id %}" class=" btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}
    {% if category_news_list %}

    <table>
        <tr>
            <td><u>Заголовок</u></td>
            <td><u>Дата публикации</u></td>
            <td><u>Содержание</u></td>
            <td><u>Тип публикации</u></td>
            <td><u>Категории</u></td>
        </tr>
        {% for post in category_news_list %}
        <tr>
            <td>{{ post.header|censor  }}</td>
            <td>{{ post.creation_date|date:'d M Y' }}</td>
            <td>{{ post.text|truncatechars:21|censor  }}</td>
            <td>{{ post.get_choice_field_display }}</td>
        </tr>
        {% endfor %}
        <td>
            {% for category in post.category.all%}
            <a href ="{% url 'category_list' category.id%}">{{category}}</a>
            {% endfor %}
        </td>
    </table>
    {% else %}
    <h2>Новостей пока нет!</h2>
    {% endif %}

{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    {% endblock content %}
</body>
</html>
