{%extends 'default.html'%}
{% load custom_filters %}

<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
{% block content %}
    <h1>{{ post }}</h1>
    <table>
        <tr>
            <td><u>Заголовок</u></td>
            <td><u>Дата публикации</u></td>
            <td><u>Содержание</u></td>
        </tr>
        <tr>
            <td>{{ post.header|censor }}</td>
            <td>{{ post.creation_date|date:'d M Y' }}</td>
            <td>{{ post.text|censor}}</td>
        </tr>
    </table>
    {% endblock content %}
</body>
</html>
